(
    spritesheet_width: 368,
    spritesheet_height: 128,
    sprites: [
        (
            x: 32,
            y: 32,
            width: 16,
            height: 16,
        ),
        (
            x: 0,
            y: 0,
            width: 16,
            height: 16,
        ),
        (
            x: 80,
            y: 0,
            width: 16,
            height: 16,
        ),
        (
            x: 0,
            y: 64,
            width: 16,
            height: 16,
        ),
        (
            x: 80,
            y: 64,
            width: 16,
            height: 16,
        ),
        (
            x: 0,
            y: 16,
            width: 16,
            height: 16,
        ),
        (
            x: 80,
            y: 16,
            width: 16,
            height: 16,
        ),
        (
            x: 16,
            y: 0,
            width: 16,
            height: 16,
        ),
        (
            x: 16,
            y: 64,
            width: 16,
            height: 16,
        ),
        (
            x: 64,
            y: 32,
            width: 16,
            height: 16,
        ),
        (
            x: 224,
            y: 64,
            width: 16,
            height: 16,
        ),
        (
            x: 256,
            y: 64,
            width: 16,
            height: 16,
        ),
        (
            x: 240,
            y: 64,
            width: 16,
            height: 16,
        ),
        (
            x: 240,
            y: 48,
            width: 16,
            height: 16,
        ),
        (
            x: 112,
            y: 0,
            width: 16,
            height: 16,
        ),
        (
            x: 96,
            y: 16,
            width: 16,
            height: 16,
        ),
        (
            x: 96,
            y: 0,
            width: 16,
            height: 16,
        ),
        (
            x: 128,
            y: 0,
            width: 16,
            height: 16,
        ),
        (
            x: 96,
            y: 32,
            width: 16,
            height: 16,
        ),
        (
            x: 128,
            y: 32,
            width: 16,
            height: 16,
        ),
        (
            x: 128,
            y: 64,
            width: 16,
            height: 16,
        ),
        (
            x: 144,
            y: 96,
            width: 16,
            height: 16,
        ),
        (
            x: 112,
            y: 112,
            width: 16,
            height: 16,
        ),
        (
            x: 96,
            y: 80,
            width: 16,
            height: 16,
        ),
        (
            x: 112,
            y: 80,
            width: 16,
            height: 16,
        ),
        (
            x: 128,
            y: 80,
            width: 16,
            height: 16,
        ),
        (
            x: 112,
            y: 96,
            width: 16,
            height: 16,
        ),
        (
            x: 128,
            y: 96,
            width: 16,
            height: 16,
        ),
        (
            x: 256,
            y: 112,
            width: 16,
            height: 16,
        ),
        (
            x: 272,
            y: 112,
            width: 16,
            height: 16,
        ),
        (
            x: 288,
            y: 112,
            width: 16,
            height: 16,
        ),
        (
            x: 128,
            y: 112,
            width: 16,
            height: 16,
            offsets: Some((0, -6)),
        ),
        (
            x: 320,
            y: 96,
            width: 16,
            height: 16,
            offsets: Some((0, -6)),
        ),
    ],
)
